<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/MeetupsDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Odissea1599</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="com.arobs.ArobsMeetup.entity.UserEntity" />
        <mapping class="com.arobs.ArobsMeetup.entity.ProposalEntity" />
        <mapping class="com.arobs.ArobsMeetup.entity.EventEntity" />
        <mapping class="com.arobs.ArobsMeetup.entity.VoteEntity" />
        <mapping class="com.arobs.ArobsMeetup.entity.PrizeEntity" />
        <mapping class="com.arobs.ArobsMeetup.entity.AchievementHistoryEntity" />
        <mapping class="com.arobs.ArobsMeetup.entity.AttendanceEntity" />
    </session-factory>
</hibernate-configuration>